<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>家装护理首页</title>
</head>
<body>
    <div>
        <div>
            <img src="xxxxxxxxxxxx" />
            <div>赵云</div>
            <div>20年工作经验</div>
            <a href="./workDetail">作品集</a>
        </div>
        <div>
            <img src="xxxxxxxxxxxx" />
            <div>张飞</div>
            <div>24年工作经验</div>
            <a href="./workDetail">作品集</a>
        </div>
        <div>
            <img src="xxxxxxxxxxxx" />
            <div>吕布</div>
            <div>30年工作经验</div>
            <a href="./workDetail">作品集</a>
        </div>
        <div>
            <img src="xxxxxxxxxxxx" />
            <div>曹操</div>
            <div>20年工作经验</div>
            <a href="./workDetail">作品集</a>
        </div>
        <div>
            <img src="xxxxxxxxxxxx" />
            <div>小乔</div>
            <div>240年工作经验</div>
            <a href="./workDetail">作品集</a>
        </div>


    </div>

</body>
</html>